/* Lista sin elemento gráfico */
ul {
    list-style-type: none;
  }
  
  /* Lista con círculos */
  ul.circle {
    list-style-type: circle;
  }
  
  /* Lista con cuadrados */
  ul.square {
    list-style-type: square;
  }
  
  /* Lista con números romanos */
  ul.roman {
    list-style-type: lower-roman;
  }

  /* Lista con letras griegas */
  ul.greek {
    list-style-type: lower-greek;
  }